.field {
  width: @field-width;
}

.input-field {
  .field();
  font-size: 12px;
  box-sizing: border-box;
  margin-bottom: @field-margin;
  border: 1px solid @admin-bg-light-gray;
  vertical-align: top;
  padding: 5px 9px;
  background: none @admin-white;

  &.invalid {
    .animation(shake, .5s, 0s, linear, 1);
    background-image: url("../icons/problem.svg");
    background-position: right;
    background-repeat: no-repeat;
  }

  &.valid {
    background-image: url("../icons/check.svg");
    background-position: right;
    background-repeat: no-repeat;
  }
}

.fieldset {
  .flexbox();
  .flex-direction(column);
  margin-bottom: 10px;

  label {
    font-size: 14px;
    margin-bottom: 2px;
  }
}