@import "variables";
@import "animations";
@import "fields";
@import "buttons";
@import "views";
@import "errors";
@import "login";
@import "welcome";
@import "creation";

html, body {
  height: 100%
}

body {
  width: 100%;
  background-color: #53585F;
  overflow-y: hidden;
  font-family: @admin-font-family;
  font-size: @admin-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  margin: 0;
  padding: 0
}

.home-main-container {
  .home-main-container-mixin();

  .enonic-logo {
    height: @enonic-logo-height;
    width: @enonic-logo-width;
    padding-bottom: 20px;
  }

  /** Common */
  .center-panel {
    .flexbox();
    .flex-direction(column);
    .justify-content(center);
    .align-items(center);
    margin-top: -120px;
  }
}

