.welcome-view {
  .flexbox();
  .flex-direction(column);
  .align-items(center);
  color: #fff;

  .welcome-text {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .create-admin-button {
    .button();
    margin-bottom: @field-margin;
    background-color: dodgerblue;
    padding: 8px;
    box-sizing: border-box;
  }
}