.welcome-view {
  .view();

  .welcome-text {
    .view-text();
  }

  .create-admin-view-button {
    .button();
    width: auto;
    margin-bottom: 20px;
    background-color: @admin-blue;
    padding: 10px 25px;
    box-sizing: border-box;
    font-size: 14px;
  }
}